@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
/* CSS hard reset */

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

html {
  scroll-behavior: smooth;
}

/* firstPage */
.firstP {
  position: relative;
}

.firstP .bg {
  background: url(../img/ilustracion1.png) right/contain no-repeat;
  width: 100%;
  min-height: 47vh;
  right: 0;
  top: 0;
  position: absolute;
}
.firstP .people {
  background: url(../img/ilustracion_people.png) right/contain no-repeat;
  width: 50%;
  min-height: 45vh;
  position: absolute;
  right: 1.5em;
  top: 2em;
  animation: up-down 1.4s infinite ease-in-out alternate;
}
@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-70px);
  }
}
/* logo */
header {
  width: 20%;
  margin: 0;
  padding: 3%;
}
.firstP header div {
  position: absolute;
  left: 7em;
  top: 3.5em;
}
.firstP header img {
  width: 2.5em;
  padding: 4.5% 0 0 3%;
}
.firstP header h4 {
  font-size: 25px;
  margin: 0;
}
.firstP header h6 {
  padding: 3%;
  margin: 0;
  font-size: 13px;
}
.firstP article {
  width: 50%;
  padding: 10em 1em;
}
.firstP article h1 {
  font-size: 4.5em;
  margin-bottom: 2%;
  padding-left: 10%;
  text-align: start;
}

.firstP article p {
  font-size: 23px;
  margin-bottom: 15%;
  padding-left: 10%;
  text-align: start;
}
.firstP article p > img {
  width: 4%;
  font-weight: bold;
}
.firstP a {
  color: rgb(200, 80, 139);
  text-decoration: none;
  position: absolute;
  left: 6em;
}
.firstP a {
  cursor: pointer;
  transition: transform 300ms ease;
}
.firstP a:hover {
  transform: scale(1.2);
  font-weight: bold;
}
/* bilder */
#seeMore {
  background: url(../img/images.jpg) center/cover no-repeat;
  width: 100%;
  height: 40vh;
  margin-bottom: 20%;
}

/* tipps1 */
.Every {
  display: flex;
  padding: 0 7%;
  justify-content: space-around;
  margin-bottom: 10%;
}
.Every h2 {
  font-size: 55px;
}
.Every h2 > img {
  width: 1em;
}
.Every p {
  font-size: 18px;
  width: 60%;
  line-height: 2em;
  color: gray;
  padding-top: 2em;
}
/* tipps2 */
.after h2 {
  padding: 0 10%;
  width: 100%;
  font-size: 55px;
  margin-bottom: 2em;
}
.after article {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 10em;
}
.after article .Start,
.after article .Your,
.after article .Design,
.after article .Share {
  width: 50%;
}
.after article h4 {
  font-size: 20px;
  text-align: start;
  padding-left: 10%;
  margin-bottom: 1em;
}
.after article h6 {
  font-size: 17px;
  color: gray;
  text-align: start;
  padding-left: 10%;
  line-height: 2em;
}
.after article img {
  width: 5%;
  margin: 0;

  display: flex;
}
.start {
  order: 0;
}
.Your {
  order: 1;
}
.Design {
  order: 2;
}
.Share {
  order: 3;
}
article {
  width: 100%;
  text-align: center;
  padding: 10% 5%;
}
article h1 {
  font-size: 3.5em;
  margin-bottom: 3%;
}
article p {
  font-size: 1.5em;
  margin-bottom: 7em;
  color: gray;
}
/* process */
.go {
  padding: 0 10%;
}
.go .Find {
  order: 0;
  padding-left: 60%;
}
.go .Think {
  order: 1;
}
.go .proposal {
  order: 2;
  padding-left: 60%;
}
.go .work {
  order: 3;
}
.go .Find,
.go .Think,
.go .proposal,
.go .work {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
  margin-bottom: 10%;
}
.go .Find h2,
.Think h2,
.proposal h2,
.work h2 {
  font-size: 4em;
  color: lightgray;
  margin-bottom: 5%;
}
.go .Find h5,
.Think h5,
.proposal h5,
.work h5 {
  font-size: 1.5em;
  margin-bottom: 3%;
}
.go .Find p,
.Think p,
.proposal p,
.work p {
  font-size: 1sem;
  line-height: 2em;
  color: gray;
  width: 30em;
}
.go .Find img,
.go .Think img,
.go .proposal img,
.go .work img {
  width: 5%;
  margin-bottom: 3%;
}

.go .Find {
  background: url(../img/step01.png) left/contain no-repeat;
  width: 100%;
  height: 40vh;
}
.go .Think {
  background: url(../img/step02.png) right/contain no-repeat;
  width: 100%;
  height: 40vh;
}
.go .proposal {
  background: url(../img/step03.png) left/contain no-repeat;
  width: 100%;
  height: 40vh;
}
.go .work {
  background: url(../img/step04.png) right/contain no-repeat;
  width: 100%;
  height: 40vh;
}
.contact {
  /* background-color: lightgray; */
  text-align: center;
}
.contact h1 {
  font-size: 50px;
  margin-bottom: 3%;
}
.contact h5 {
  font-size: 20px;
  margin-bottom: 3%;
}
#email {
  border: 1px solid gray;
  width: 50%;
  height: 5vh;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
}
.contact form input[type="button"] {
  border: 1px solid rgb(193, 25, 96);
  background-color: rgb(193, 25, 96);
  width: 25%;
  height: 4vh;
  font-size: 1em;
  color: white;
  margin-bottom: 10%;
}
.contact form input[type="button"]:hover {
  background: linear-gradient(
      236deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(120deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(217deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

/* footer */
footer h6 {
  font-size: 1em;
  margin-bottom: 3%;
}

footer h6::after {
  content: "❤️";
  margin-left: 2%;
}

/* Laptop */
/* @media screen and (max-width: 992px) {
  body {
    background-color: red;
  }
} */
/* Smartphone */

/* @media screen and (max-width: 600px) {
  body {
    background-color: lime;
  }
} */
/* in Kombination */

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  body {
    /* background: blue; */
  }
}
