@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  margin: 0;
  font-family: Roboto;
}
/* general Effect */
img {
  width: 3%;
}

/* firstPage */
.firstP {
  position: relative;
}

.firstP .bg {
  background: url(../img/ilustracion1.png) right/contain no-repeat;
  width: 100%;
  min-height: 47vh;
  right: 0;
  top: 0;
  position: absolute;
}
.firstP .people {
  background: url(../img/ilustracion_people.png) right/contain no-repeat;
  width: 50%;
  min-height: 45vh;
  position: absolute;
  right: 1.5em;
  top: 2em;
}
header {
  width: 20%;
  margin: 0;
  padding: 3%;
}
.firstP header div {
  position: absolute;
  left: 7em;
  top: 3.5em;
}
.firstP header img {
  width: 3em;
  padding: 3% 0 0 3%;
}
.firstP header h4 {
  font-size: 25px;
  margin: 0;
}
.firstP header h6 {
  padding: 3%;
  margin: 0;
  font-size: 13px;
}
.firstP article {
  width: 50%;
  padding: 7em 1em;
}
.firstP article h1 {
  font-size: 4.5em;
  margin-bottom: 0;
  padding-left: 10%;
  text-align: start;
}

.firstP article p {
  font-size: 23px;
  margin-bottom: 15%;
  padding-left: 10%;
  text-align: start;
}
.firstP article p > img {
  width: 4%;
}
.firstP a {
  color: rgb(200, 80, 139);
  text-decoration: none;
  position: absolute;
  left: 6em;
}
.seeMore {
  background: url(../img/images.jpg) center/cover no-repeat;
  width: 100%;
  min-height: 50vh;
  margin-bottom: 20%;
}
.Every {
  display: flex;
  padding: 0 7%;
  justify-content: space-around;
  margin-bottom: 10%;
}
.Every h2 {
  font-size: 55px;
  margin: 0;
}
.Every h2 > img {
  width: 1em;
}
.Every p {
  font-size: 20px;
  width: 60%;
  line-height: 2em;
}
.after h2 {
  padding: 0 10%;
  width: 100%;
  font-size: 55px;
  margin-bottom: 2em;
}
.after article {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 5% 0;
  height: 30vh;
  margin-bottom: 2em;
}
.after article .Start,
.Your,
.Design,
.Share {
  width: 50%;
  padding-left: 1%;
  /* margin: 5%; */
}
.after article h4 {
  font-size: 20px;
  /* margin-bottom: 2%; */
}
.after article h6 {
  font-size: 17px;
  line-height: 2em;
  margin: 0;
  color: gray;
  padding-left: 6.5%;
}
.after article img {
  width: 5%;
  padding-right: 2%;
  /* text-align: start; */
}
.start {
  order: 0;
}
.Your {
  order: 2;
}
.Design {
  order: 1;
}
.Share {
  order: 3;
}
article {
  width: 100%;
  text-align: center;
  padding: 10%;
}
article h1 {
  font-size: 4em;
}
article p {
  font-size: 1.5em;
  margin-bottom: 7em;
  color: gray;
}
/* ziel */
.go {
  padding: 0 10%;
}
.go .Find,
.Think,
.proposal,
.work {
  flex-direction: column;
  width: 45%;
  height: 40%;
  margin: 0;
  padding-left: 50%;
}

.go .Find h2,
.Think h2,
.proposal h2,
.work h2 {
  font-size: 4em;
  color: lightgray;
}
.go .Find h5,
.Think h5,
.proposal h5,
.work h5 {
  font-size: 2em;
  margin: 1% 0;
}
.go .Find p,
.Think p,
.proposal p,
.work p {
  font-size: 1.3em;
  line-height: 2em;
  color: gray;
  width: 30em;
}
.go .Find img,
.Think img,
.proposal img,
.work img {
  width: 5%;
}

.go .Find {
  background: url(../img/step01.png) left/contain no-repeat;
  width: 50%;
  height: 40vh;
  margin: 0;
}
.go .Think {
  background: url(../img/step02.png) left/contain no-repeat;
  width: 50%;
  height: 40vh;
}
.go .proposal {
  background: url(../img/step03.png) left/contain no-repeat;
  width: 50%;
  height: 40vh;
  margin: 0;
}
.go .work {
  background: url(../img/step04.png) left/contain no-repeat;
  width: 50%;
  height: 40vh;
  margin: 0;
}
